[Unit]
Description=Gitea Backup
After=gitea.service

[Service]
User=gitea
Group=gitea
Type=oneshot
SyslogIdentifier=gitea-backup
WorkingDirectory=~
RuntimeDirectory=gitea
LogsDirectory=gitea
StateDirectory=gitea
Environment=USER=gitea HOME=/var/lib/gitea GITEA_WORK_DIR=/var/lib/gitea
ExecStart=/usr/bin/dash -c '/usr/bin/gitea dump -c /etc/gitea/app.ini --type tar.xz --file /media/%i/backup/gitea/$$(date -Iseconds)-gitea-dump.tar.xz'
ExecStartPost=/usr/bin/dash -c '/usr/bin/chmod a+r /media/%i/backup/gitea/$$(date -I)*-gitea-dump.tar.xz'
UMask=0133
CapabilityBoundingSet=
NoNewPrivileges=True
SecureBits=noroot-locked
ProtectSystem=strict
ProtectHome=true
ReadOnlyPaths=/etc/gitea/app.ini
ReadWritePaths=/media/%i/backup/gitea/
PrivateTmp=true
PrivateDevices=true
PrivateUsers=true
PrivateNetwork=true
IPAddressDeny=any
DeviceAllow=char-pts
DevicePolicy=closed
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectProc=noaccess
ProcSubset=pid
LockPersonality=true
MemoryDenyWriteExecute=true
RemoveIPC=true
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
SystemCallErrorNumber=EPERM
